@using ChatRoom.Datos.Entidades
@model List<Sala>

@{
    var authenticatedUser = ViewData["AuthenticatedUser"] as Usuario;
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Subastas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url('/images/fondo.png');
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow-x: hidden;
      position: relative;
    }

    .card {
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
      background-color: #F0F8FF; /* Lilac background color */
       /* Existing styles for .botonversala */
  display: flex; /* Make .botonversala a flex container */
  justify-content: center; 
    }

    .card img {
      width: 90%; /* Set image width to 90% */
      height: 200px; /* Adjust image height as needed */
      object-fit: cover; /* Ajuste de la imagen */
      text-align: center;
      margin:auto;
      margin-top: 4px;

    }

    .card-body {
      text-align: center; /* Center the content within the card body */

    }

    .botonversala {
      display: block; /* Make the button a block-level element */
      margin: 0 auto; /* Center the button horizontally */
      width: 70%; /* Set button width to 70% of the card body */
      padding: 10px 20px; /* Add some padding to the button */
      background-color: #B28BD9; /* Lilac dark color */
      color: white; /* White text color */
      border: none; /* Remove default border */
      border-radius: 5px; /* Add rounded corners */
      cursor: pointer; /* Indicate clickable behavior */
    }

    .btn-add {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }

    #nuevaSubastaFormContainer {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #C5C3FC;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1001;
    }

    #botonversala {
      width: 90%;
      background-color: #C5C3FC;
    }
  </style>
</head>
<body>
    <section class="container py-5">
        <h2 class="text-center mb-4">Subastas Activas</h2>

        <div class="row">
            @foreach (var sala in Model)
            {
                    <div class="col-md-4" >
                        <div class="card" >
                            <img src="@sala.FotoProductoNombre" class="card-img" alt="Imagen de Producto">
                            <div class="card-body">
                                <h5 class="card-title">@sala.Nombre</h5>
                                <a href="/Chat/Room?id=@sala.Id" class="botonversala">Ver Sala</a>
                            </div>
                        </div>
                    </div>
            }
        </div>

        @if (Model.Count == 0)
        {
                <div id="mensajeSubastasNull">
                    <p class="text-center">En este momento no hay subastas activas</p>
                </div>
        }
    </section>

    <button id="nuevaSubastaBtn" type="button" class="btn btn-primary btn-add" style="background-color: #E8E2FF; color:#4c2882; font-weight: bold;font-size: 1.2em;" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">+</button>

    <div id="nuevaSubastaFormContainer">
        <h2 class="mb-3">Nueva Subasta</h2>
        <form id="createSalaForm" action="/Chat/Room/CreateRoom" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre de la sala</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="fotoProductoNombre">Imagen del Producto</label>
                <input type="file" class="form-control" id="fotoProductoNombre" name="fotoProductoNombre" required>
            </div>
            @if (authenticatedUser != null)
            {
                    <input type="hidden" id="idVendedor" name="idVendedor" value="@authenticatedUser.Id">
            }
            <button id="cancelarSubastaBtn" type="button" class="btn btn-secondary mt-2 mr-2" onclick="closeForm()">Cancelar</button>
            <button type="submit" class="btn btn-primary mt-2" style="background-color: #E8E2FF;">Crear Subasta</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Subasta.js"></script>
    <script>
        $('#nuevaSubastaBtn').on('click', function() {
            $('#nuevaSubastaFormContainer').toggle();
        });

        function closeForm() {
            $('#nuevaSubastaFormContainer').hide();
        }
    </script>
</body>
</html>

    

@* @using ChatRoom.Datos.Entidades
@model List<Sala>

@{
    var authenticatedUser = ViewData["AuthenticatedUser"] as Usuario;
}

<section class="d-flex vh-100">
    <article class="col-3 d-flex flex-column" style="background-color: #C5C3FC;">
        <div class="mb-auto text-center">
            <h2 class="mt-3 d-flex align-items-center justify-content-center">
                <span>Subastas Activas</span>
                <button id="nuevaSubastaBtn" type="button" class="btn ms-2" style="background-color: #E8E2FF;" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">+</button>
            </h2>
            @if (Model.Count == 0)
            {
                <div id="mensajeSubastasNull">
                    <p>En este momento no hay subastas activas</p>
                </div>
            }
            <ul id="salasList" class="list-group">
            </ul>
        </div>

        @*<div class="list-group list-group-flush border-top scrollarea mt-auto">
        <small class="text-md-center">Estas Logueado, querés cerrar sesion?</small>
        <a href="javascript:void(0);" id="logoutLink" onclick="document.getElementById('logoutForm').submit();" class="btn btn-link">Logout</a>
        </div>*@
        @*
              <form id="logoutForm" action="~/Account/Logout" method="post" style="display:none;"></form>
        
    </article>

    <article class="col-6"></article>

    <div id="nuevaSubastaFormContainer" class="d-none col-3" style="background-color: #C5C3FC;">
        <h2 class="mt-3">Nueva Subasta</h2>
        <form id="createSalaForm" action="/Chat/Room/CreateRoom" method="post" class="py-3 lh-sm mb-3 m-lg-2" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre de la sala</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required />

                <label for="fotoProductoNombre">Nombre de la imagen del producto</label>
                <input type="file" class="form-control" id="fotoProductoNombre" name="fotoProductoNombre" required />
            </div>
            @if (authenticatedUser != null)
            {
                <input type="hidden" id="idVendedor" name="idVendedor" value="@authenticatedUser.Id" />
            }
            <button id="cancelarSubastaBtn" type="button" class="btn btn-secondary mt-2 ml-2 align-items-center">Cancelar</button>
            <button type="submit" class="btn mt-2 align-items-center" style="background-color: #E8E2FF;">Crear subasta</button>
        </form>
    </div>
   
</section>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Subasta.js"></script>
 *@

