    @using ChatRoom.Datos.Entidades
    @model ChatRoom.Datos.Entidades.Sala

    @{
    var authenticatedUser = ViewData["AuthenticatedUser"] as Usuario;
    }

    <h1>@Model.Nombre</h1>

    <div class="row">
        <form method="post" action="~/Chat/CreateOferta" id="ofertaForm">
            <div class="col-12">
                <label for="idSala">ID Sala</label>
                <input type="number" class="form-control" id="sala" name="idSala" value="@Model.Id" readonly />
                @if (authenticatedUser != null)
            {
                <input type="hidden" id="user" name="idUsuario" value="@authenticatedUser.Id" />
            }
                <label for="monto">Monto</label>
                <input type="number" class="form-control" id="monto" name="monto" required />
                <button id="btnSend">Enviar Puja</button>
            </div>
        </form>

    @if (authenticatedUser.Id == Model.IdVendedor)
    {
        <form method="post" action="~/Chat/FinalizarSubasta" id="finalizarSubastaForm">
			<input type="hidden" id="idSala" name="idSala" value="@Model.Id" />
        <button id="btnFinalizarSubasta">Finalizar subasta</button>
        </form>
    }
    </div>

    <div class="row">
        <div class="col-6">
            <div id="montos">
            </div>
        </div>
    <div class="col-6">
        <div id="errors"></div>
    </div>
        <div class="col-6">
            <div id="notifications"></div>
        </div>
    </div>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().then(() => {
        connection.invoke("JoinSala", "@Model.Id")
    }).catch((e) => console.error(e));

        document.getElementById("btnSend").addEventListener("click", (event) => {
     
            let salaId = "@Model.Id";
            let userId = document.getElementById("user").value;
            let monto = document.getElementById("monto").value;   

        connection.invoke("AddOferta", salaId, userId, monto).catch((err) =>
            console.error(err.toString()));

        document.getElementById("monto").value = "";
        document.getElementById("monto").focus();
        event.preventDefault();
        });

    connection.on("ReceiveOferta", (ofertas) => {
        var ofertasHtml = "";
        ofertas.forEach(oferta => {
            ofertasHtml += `<div><b>Monto:</b> ${oferta.monto}, <b>Comprador:</b> ${oferta.idComprador}</div>`;
        });
        document.getElementById("montos").innerHTML = ofertasHtml;
    });
    connection.on("ShowError", (message) => {
        var errorsHtml = `<div class="alert alert-danger"><b>${message}</b></div>`;
        document.getElementById("errors").innerHTML = errorsHtml + document.getElementById("errors").innerHTML;
    });

    connection.on("ShowWho", (message) => {
        var notificationHtml = `<div><b>${message}</b></div>`;
        document.getElementById("notifications").innerHTML = notificationHtml + document.getElementById("notifications").innerHTML;
    });
    </script>