    @using ChatRoom.Datos.Entidades
    @model ChatRoom.Datos.Entidades.Sala

    <h1>@Model.Nombre</h1>

    @if (Model.Oferta != null && Model.Oferta.Any())
    {
        <h1>Ofertas:</h1>
        @foreach (var oferta in Model.Oferta)
        {
            <p>Monto: @oferta.Monto</p>
            <p>Comprador: @oferta.IdComprador</p>
        }
    }
    else
    {
        <p>No hay ofertas disponibles.</p>
    }

    <div class="row">
        <form method="post" action="~/Chat/CreateOferta" id="ofertaForm">
            <div class="col-12">
                <label for="idSala">ID Sala</label>
                <input type="number" class="form-control" id="sala" name="idSala" value="@Model.Id" readonly />

                <label for="idUsuario">ID Usuario</label>
                <input type="number" class="form-control" id="user" name="idUsuario" required />

                <label for="monto">Monto</label>
                <input type="number" class="form-control" id="monto" name="monto" required />
                <button id="btnSend">Enviar Puja</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-6">
            <div id="montos">
            </div>
        </div>
        <div class="col-6">
            <div id="notifications"></div>
        </div>
    </div>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        connection.start().then(() => {
            connection.invoke("AddToGroup", "@Model.Id")
        }).catch((e) => console.error(e));

        document.getElementById("btnSend").addEventListener("click", (event) => {
     
            let room = "@Model.Id";
            let user = document.getElementById("user").value;
            let monto = document.getElementById("monto").value;

            // Redirigir a la sala actual después de enviar la oferta
            connection.invoke("SendOferta", room, user, monto).then(() => {
                window.location.href = `/Chat/Room?id=${room}`;
            }).catch((err) =>
                console.error(err.toString()));

            document.getElementById("monto").value = "";
            document.getElementById("monto").focus();
            event.preventDefault();
        });

        connection.on("ReceiveOferta", (user, monto) => {
            var ofertaHtml = `<div><b>${user} ofreció:</b> ${monto}</div>`;
            document.getElementById("montos").innerHTML = ofertaHtml + document.getElementById("montos").innerHTML;
        });

        connection.on("ShowWho", (message) => {
            var notificationHtml = `<div><b>${message}</b></div>`;
            document.getElementById("notifications").innerHTML = notificationHtml + document.getElementById("notifications").innerHTML;
        });
    </script>